@page "/"
@inject Service.JobManager JobManager
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@inject Service.FileService FileService
@inject HttpClient HttpClient

@using MongoMigrationWebApp.Components
@using OnlineMongoMigrationProcessor


<div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="mb-0">
        <button class="btn btn-light" title="Download Jobs JSON" @onclick="DownloadFile" style="border: none; background: transparent;">
            <i class="bi bi-download"></i>
        </button>
        Migration Jobs
    </h3>
    <div class="d-flex align-items-center mb-3">
        <button class="btn btn-primary" title="New Job" @onclick="StartMigrationAsync">New Job</button>
        <button class="btn btn-light" title="Edit Migration Settings" @onclick="OpenConfig" style="border: none; background: transparent;">
            <i class="bi bi-gear"></i>
        </button>
    </div>
</div>

@if (_loadingComplete)
{
    @if (migrationJobs?.Count == 0)
    {
        <div>No migrations could be found</div>        
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Migration Tool</th>
                    <th>Started On (UTC)</th>
                    <th>Endpoints</th>
                    <th>Is Online</th>
                    <th>Is Completed</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var migration in GetMigrations())
                {
                    <tr>
                        <td>
                            @if (JobManager.IsProcessRunning(migration.Id ?? string.Empty))
                            {
                                <i class="bi bi-star-fill text-warning"></i>
                            }
                        </td>
                        <td>@migration.Name</td>
                        <td>@GetToolName(migration.JobType)</td>
                        <td>@migration.StartedOn</td>
                        <td class="tooltip-text" title="@GetTootTip(migration)">@migration.SourceEndpoint<br /> to <br /> @migration.TargetEndpoint</td>
                        <td>@migration.IsOnline</td>
                        <td>@migration.IsCompleted</td>
                        <td>
                            <button class="btn btn-primary" title="View Job" @onclick="() => ViewMigration(migration.Id)">
                                <i class="bi bi-eye"></i>
                            </button>
                            <button class="btn btn-success" title="Job Report" @onclick="() => ViewJobReport(migration.Id)">
                                <i class="bi bi-printer"></i>
                            </button>
                            <button class="btn btn-secondary" title="Delete Job" @onclick="() => RemoveMigration(migration.Id)">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>        
    }
    <div class="d-flex align-items-center mb-3">
        <button class="btn btn-warning mx-2" title="Use backup to recover job data if current data is corrupted or lost." @onclick="RestoreBackup">Recover Jobs</button>
    </div>
}

@if (_migrationDetailsPopUpOpen)
{
    <MigrationDetails NewMode=true OnSubmit="@OnMigrationDetailsPopUpSubmit" CheckNameExists="CheckIfNameExistsAsync" />
}

@if (_yesNoDialogOpen)
{
    <YesNoDialog Type="YesNoDialog.Category.DeleteNot" Caption="Confirm Delete" Message="@_message" OnClose="@YesNoDialogSubmit" />
}

@if (_recoverDialogOpen)
{
    <YesNoDialog Type="YesNoDialog.Category.RecoverNot" Caption="Confirm Recovery from Backup" Message="@_message" OnClose="@RestoreBackupSubmit" />
}


@if (_messageDialogOpen)
{
    <YesNoDialog Type="YesNoDialog.Category.Okay" Caption="Message" Message="@_message" OnClose="@YesNoDialogSubmit" />
}

@if (_editSettingsOpen)
{
    <MigrationSettings _configuration="@GetConfig()" On_configurationSaved="HandleConfigurationSaved" />
}

@code {
    #pragma warning disable CS8603
#pragma warning disable CS8604
#pragma warning disable CS8600

    private bool _migrationDetailsPopUpOpen;
    private bool _yesNoDialogOpen;
    private bool _messageDialogOpen;
    private bool _recoverDialogOpen;
    private bool _editSettingsOpen;

    private string _message = string.Empty;
    private MigrationJob? _selectedMigrationJob;
    private List<MigrationJob>? migrationJobs;
    private bool _loadingComplete;

    private string GetTootTip(MigrationJob migrationJob)
    {
        return string.Join(",",
            migrationJob?.MigrationUnits?
                .Select(mu => $"{mu.DatabaseName}.{mu.CollectionName}") ?? Enumerable.Empty<string>());
    }


    private string GetToolName(OnlineMongoMigrationProcessor.Models.JobType jobType)
    {
        switch(jobType)
        {
            case OnlineMongoMigrationProcessor.Models.JobType.RUOptimizedCopy:
                return "MongoDB Driver (Cosmos DB RU read optimized)";
            case OnlineMongoMigrationProcessor.Models.JobType.MongoDriver:
                return "MongoDB Driver";
            case OnlineMongoMigrationProcessor.Models.JobType.DumpAndRestore:
                return "MongoDump and MongoRestore";
            default:
                return "NA";
        }
    }

#pragma warning disable CS1998
    protected override async Task OnParametersSetAsync()
    {
        if (_loadingComplete)
            return;

        _loadingComplete = false;
        migrationJobs = GetMigrationsFromManager(false, true);
        _loadingComplete = true;
    }
#pragma warning restore CS1998
#pragma warning disable CS8602

    private async Task DownloadFile()
    {
        var url = $"/api/File/download/Jobs";
        var response = await HttpClient.GetAsync(url);

        if (response.IsSuccessStatusCode)
        {
            var fileBytes = await response.Content.ReadAsByteArrayAsync();
            var contentType = response.Content.Headers.ContentType?.ToString() ?? "application/octet-stream";

            // Use JavaScript to trigger the file download
            await JS.InvokeVoidAsync("downloadFile", fileBytes, "MigrationJobs.json", contentType);
        }
        else
        {
            Console.Error.WriteLine($"Failed to download log file: Jobs.json");
        }
    }

    private async Task RestoreBackup()
    {
        await Task.Yield();
        var backupDate = JobManager.GetJobBackupDate();

        if (backupDate == DateTime.MinValue)
        {
            _message = "No backup file found.";
            _messageDialogOpen = true;
            return;
        }

        var gap = DateTime.UtcNow - backupDate;
        string lagString = string.Empty;

        if (gap.TotalSeconds > 0)
        {
            lagString = $"from {(int)gap.TotalMinutes} minutes ago";
        }

        _message = $"Warning: This will stop ongoing jobs and overwrite current migration jobs with a backup {lagString}. Do you wish to proceed?";
        _recoverDialogOpen = true;
    }

    private void RestoreBackupSubmit(YesNoDialog.YesNoDialogResult result)
    {
        try
        {
            _recoverDialogOpen = false;
            _loadingComplete = false;

            if (!result.IsConfirmed)
            {
                return;
            }


            foreach (var job in GetMigrationsFromManager(true,false))
            {
                job.IsCancelled = true;
                // job.CurrentlyActive = false;
                job.IsStarted = false;
                JobManager.CancelMigration(job.Id);
            }
            JobManager.StopMigration();



            bool success = JobManager.RestoreJobsFromBackup(out string errorMessage);
            if (success)
            {
                migrationJobs = GetMigrations();               
            }
            else
            {
                _message = errorMessage;
                _messageDialogOpen = true;
            }
        }
    catch (Exception)
        {
            _message = "Failed to restore backup.";
            _messageDialogOpen = true;
        }
        finally
        {           
            _selectedMigrationJob = null;
            _loadingComplete = true;
        }
    }

    private List<MigrationJob> GetMigrations()
    {
        return GetMigrationsFromManager(true, true);
    }

    private List<MigrationJob> GetMigrationsFromManager(bool silent, bool force = false)
    {
        var result=JobManager.GetMigrations(out string errorMessage, force);
        if(!string.IsNullOrEmpty(errorMessage) || result==null)
        {
            if (!silent)
            {
                _message = "Unable to load job details at the moment. Please wait a while, and if the issue continues, you can recover the jobs from the backup.";
                _messageDialogOpen = true;            
            }
            return new List<MigrationJob>();
        }
        return result;

    }


    private void RemoveMigration(string? id)
    {
        var migrationJob = GetMigrations().Find(m => m.Id == id);
        _selectedMigrationJob = migrationJob;
        //if (!_selectedMigrationJob.CurrentlyActive || !JobManager.IsProcessRunning(id
        if (!JobManager.IsProcessRunning(id ?? string.Empty))
        {
            _message = "Are you sure you want to delete " + _selectedMigrationJob.Name + " ?";
            _yesNoDialogOpen = true;
        }
        else
        {
            _message = "Can't delete active job " + _selectedMigrationJob.Name + ". Please stop the job and try again.";
            _messageDialogOpen = true;
        }
    }

    private void YesNoDialogSubmit(YesNoDialog.YesNoDialogResult result)
    {
        if (_messageDialogOpen)
        {
            _messageDialogOpen = false;
            return;
        }
        else
        {
            _yesNoDialogOpen = false;

            //if (result.IsConfirmed && (!_selectedMigrationJob.CurrentlyActive || !JobManager.IsProcessRunning(_selectedMigrationJob.Id)))
            if (result.IsConfirmed && (!JobManager.IsProcessRunning(_selectedMigrationJob?.Id ?? string.Empty)))
            {

                if (_selectedMigrationJob != null)
                {
                    string jobId = _selectedMigrationJob.Id;
                    GetMigrations().Remove(_selectedMigrationJob);

                    try
                    {
                        Task.Run(() =>
                           {
                               JobManager.ClearJobFiles(jobId);
                           });

                        JobManager.SaveJobs(out string errorMessage);
                        if (!string.IsNullOrEmpty(errorMessage))
                        {
                            _message = errorMessage;
                            _messageDialogOpen = true;
                        }
                    }
                    catch { }
                }

            }
            
            _selectedMigrationJob = null;
        }
    }

    private OnlineMongoMigrationProcessor.MigrationSettings GetConfig()
    {
        return JobManager.GetConfig();
    }



    private void OpenConfig()
    {
        _editSettingsOpen = true;
    }

    private void HandleConfigurationSaved(OnlineMongoMigrationProcessor.MigrationSettings updatedConfig)
    {
        _editSettingsOpen = false;

        if (updatedConfig != null)
        {            
            if (!JobManager.UpdateConfig(updatedConfig, out string errorMessage))
            {
                _message = errorMessage;
                _messageDialogOpen = true;
            }
        }
    }

    private void ViewMigration(string? id)
    {

        NavigationManager.NavigateTo($"/migrationjobviewer/{id}");
    }

    private void ViewJobReport(string? id)
    {
        NavigationManager.NavigateTo($"/jobreport/{id}");
    }

    private void StartMigrationAsync()
    {
        

        _selectedMigrationJob = null;
        _migrationDetailsPopUpOpen = true;
    }

    private Task<bool> CheckIfNameExistsAsync(string name)
    {
        var migrationJob = GetMigrations().Find(m => m.Name == name);
        return Task.FromResult(migrationJob != null);
    }

    private void OnMigrationDetailsPopUpSubmit(MigrationJob job)
    {
        _migrationDetailsPopUpOpen = false;
        if (job != null)
        {
            if (_selectedMigrationJob == null)
            {
                GetMigrations().Add(job);
                job.IsStarted = true;
                JobManager.SaveJobs(out string errorMessage);
                if (!string.IsNullOrEmpty(errorMessage))
                {
                    _message = errorMessage;
                    _messageDialogOpen = true;
                }
                ViewMigration(job.Id);
            }
        }
    }
}
