@inject Service.JobManager JobManager
@inject IConfiguration Configuration

@using OnlineMongoMigrationProcessor

<div class="modal fade show d-block bg-dark bg-opacity-75" id="myModal" aria-modal="true" role="dialog">
    <div class="modal-dialog bg-dark">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@(NewMode ? "New Job Details" : "Update Connections Strings")</h4>
                <button type="button" class="btn-close" aria-label="Close" @onclick="@Cancel"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" id="name" class="form-control" disabled="@(!NewMode)" @bind="name" />
                </div>
                @if (NewMode)
                {
                    <div class="mb-3">
                        <label for="mongo-options" class="form-label">Migration Tool:</label>
                        <select id="mongo-options" class="form-select" @onchange="OnSelectionChanged">
                            @if (AllowMongoDump)
                            {
                                <option value="Use MongoDump and MongoRestore">Use MongoDump and MongoRestore</option>
                            }
                            <option value="Use Mongo Driver">Use Mongo Driver</option>
                        </select>
                    </div>
                }                
                <div class="mb-3 checkbox-container">
                    <div class="checkbox-group">
                        <label title="Keep the target collection and append new data without deleting existing records.">
                            <input type="checkbox" id="appendMode" disabled="@(!NewMode)" @bind="appendMode" />
                            Append Mode
                        </label>
                    </div>
                    <div class="checkbox-group">                    
                        <label title="Skip copying indexes from the source; only data will be migrated.">
                            <input type="checkbox" id="copyIndex" disabled="@(!NewMode || appendMode)" @bind="skipIndexes" />
                            Skip Indexes
                        </label>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="migration-mode" class="form-label" title="Online migration allows live data replication during the process.">
                        Migration Mode:
                    </label>                
                    <select id="migration-mode" value="@SelectedMode"  class="form-select" @onchange="OnModeSelectionChanged" disabled="@(!NewMode)">
                        <option value="Offline">Offline</option>
                        <option value="Online">Online</option>
                    </select>
                </div>
                <div class="mb-3 checkbox-container">
                    <div class="checkbox-group">
                        <label title="Begin change stream processing once all collections are processed.">
                            <input type="checkbox" id="startCSAfterUploads" disabled="@(!NewMode || !isOnline)" @bind="startCSAfterUploads" />
                            Delay Change Stream
                        </label>
                    </div>
                    <div class="checkbox-group">
                        <label title="Enable syncing back to the source after migration. Helps reduce risk by allowing a rollback to the original server if needed.">
                            <input type="checkbox" id="enableSyncBack" disabled="@(!NewMode || !isOnline)" @bind="enableSyncBack" />
                            Post Migration Sync Back
                        </label>
                    </div>
                </div>
               
                <div class="mb-3">
                    <label for="sourceConnectionString" class="form-label">Source Connection String</label>
                    <input type="password" id="sourceConnectionString" placeholder="@(NewMode ? "" : "For " + sourceEndpoint)" class="form-control" @bind="sourceConnectionString" />
                </div>

                <div class="mb-3">
                    <label for="targetConnectionString" class="form-label">Target Connection String</label>
                    <input type="password" id="targetConnectionString" placeholder="@(NewMode ? "For [account name].mongocluster.cosmos.azure.com" : "For " + targetEndpoint)" class="form-control" @bind="targetConnectionString" />
                </div>

                <div class="mb-3">
                    <label for="nameSpaces" class="form-label">Collections To Migrate</label>
                    <textarea id="nameSpaces" disabled="@(!NewMode)" rows="4" placeholder="e.g. db1.col1,db1.col2,db2.col1,db2.col5" class="form-control" @bind="namespaces"></textarea>
                </div>

                <div class="mb-3">
                    <label for="isSimulatedRun" class="form-label" title="Enable simulated run where no actual writes will occur on the target database.">
                        <input type="checkbox" id="isSimulatedRun" disabled="@(!NewMode)" @bind="isSimulatedRun" />
                        Simulation Mode (No Writes to Target)
                    </label>
                </div>

                @if (!string.IsNullOrEmpty(errorMessage))
                {
                    <div class="alert alert-danger mt-2">@errorMessage</div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick=@HandleSubmit>Ok</button>
                <button type="button" class="btn btn-secondary" @onclick="@Cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>

@code {

    #pragma warning disable CS8618 // Non-nullable field must contain a non-null value when exiting constructor. Consider adding the 'required' modifier or declaring as nullable.
#pragma warning disable CS8601
#pragma warning disable CS8602

    [Parameter]
    public bool NewMode { get; set; }

    [Parameter]
    public MigrationJob Job { get; set; }



    [Parameter]
    public EventCallback<MigrationJob> OnSubmit { get; set; }

    [Parameter]
    public Func<string, Task<bool>> CheckNameExists { get; set; }


    private string errorMessage = string.Empty;
    private bool useMongoDump = true; // Variable to track the selected value
    private string selectedOption = "Use MongoDump and MongoRestore"; // Default dropdown value
    private bool isSimulatedRun = false; // Variable to track the dummy run option
    private bool isOnline = true; // Default to online migration
    private bool startCSAfterUploads = true; // Start change streams after all uploads are done
    private bool enableSyncBack = false;// if the migration is online, reverse sync can be enabled
    private bool skipIndexes = false;// create indexes on Target
    private bool appendMode = false;// if the target collection exists, it will be deleted
    private string namespaces = string.Empty;   // Comma-separated list of namespaces to migrate
    private string name = string.Empty; // Name of the migration job
    private string sourceEndpoint = string.Empty;   // Source endpoint extracted from the connection string
    private string targetEndpoint = string.Empty;   // Target endpoint extracted from the connection string
    private string SelectedMode = "Offline"; // default or loaded value
    private string sourceConnectionString { get; set; } = string.Empty;
    private string targetConnectionString { get; set; } = string.Empty;
    private bool AllowMongoDump => Configuration.GetValue<bool>("AllowMongoDump");

    private void OnModeSelectionChanged(ChangeEventArgs e)
    {
        isOnline = e.Value.ToString() == "Online";
    }

    private void OnSelectionChanged(ChangeEventArgs e)
    {
        selectedOption = e.Value.ToString();
        useMongoDump = selectedOption == "Use MongoDump and MongoRestore"; // Set useMongoDump based on selection
    }




    protected override void OnInitialized()
    {
        if (NewMode)
        {
            name = string.Empty;
            sourceConnectionString = string.Empty;
            targetConnectionString = string.Empty;
            namespaces = string.Empty;
            isOnline = false;
            enableSyncBack = false;
            useMongoDump = true;
            isSimulatedRun = false;
            skipIndexes = false;
            appendMode = false;
        }
        else
        {
            name = Job.Name;
            sourceConnectionString = Job.SourceConnectionString;
            targetConnectionString = Job.TargetConnectionString;
            namespaces = Job.NameSpaces;
            sourceEndpoint = Job.SourceEndpoint;
            targetEndpoint = Job.TargetEndpoint;
            isOnline = Job.IsOnline;
            enableSyncBack = Job.SyncBackEnabled && isOnline && !Job.IsSimulatedRun; // Reverse sync only if online and not a simulated run
            useMongoDump = Job.UseMongoDump;
            isSimulatedRun = Job.IsSimulatedRun;
            skipIndexes = Job.SkipIndexes;
            appendMode = Job.AppendMode;

            if(isOnline)
            {
                SelectedMode = "Online";
            }
            else
            {
                SelectedMode = "Offline";
            }
        }
    }
    private async void HandleSubmit()
    {

        if (string.IsNullOrEmpty(name))
        {
            errorMessage = "Name can't be empty.";
            return;
        }
        if (NewMode && CheckNameExists != null) // Ensure callback is provided
        {
            var nameExists = await CheckNameExists(name);
            if (nameExists)
            {
                errorMessage = "Name already exists.";
                return;
            }
        }

        if (string.IsNullOrEmpty(sourceConnectionString) || string.IsNullOrEmpty(targetConnectionString))
        {
            errorMessage = "Source and Target Connection Strings can't be empty.";
            return;
        }

        var tmpSrcEndpoint = Helper.ExtractHost(sourceConnectionString);
        if (tmpSrcEndpoint != sourceEndpoint && !NewMode)
        {
            errorMessage = "Source endpoint doesn't match provided Source Connection String.";
            return;
        }

        var tmpTgtEndpoint = Helper.ExtractHost(targetConnectionString);
        if (tmpTgtEndpoint != targetEndpoint && !NewMode)
        {
            errorMessage = "Target endpoint doesn't match provided Target Connection String.";
            return;
        }

        if (tmpTgtEndpoint == tmpSrcEndpoint)
        {
            errorMessage = "Target and Source endpoints can't be the same.";
            return;
        }

        if (NewMode)
        {
            var retValue = Helper.ValidateNamespaceFormat(namespaces);
            if (!retValue.Item1)
            {
                errorMessage = "Namespaces Format is invalid.";
                return;
            }
            else
            {
                namespaces = retValue.Item2;
            }
        }

        var job = new MigrationJob
        {
            Name = name,
            Id = Guid.NewGuid().ToString(),
            IsOnline = isOnline,
            SourceConnectionString = sourceConnectionString,
            TargetConnectionString = targetConnectionString,
            SourceEndpoint = tmpSrcEndpoint,
            TargetEndpoint = tmpTgtEndpoint,
            NameSpaces = namespaces,
            UseMongoDump = useMongoDump,
            IsSimulatedRun = isSimulatedRun,
            SkipIndexes = skipIndexes,
            AppendMode = appendMode,
            SyncBackEnabled = (enableSyncBack && isOnline && !isSimulatedRun) ? true : false,
            CSStartsAfterAllUploads = startCSAfterUploads
        };
        await OnSubmit.InvokeAsync(job);
    }

    private Task Cancel()
    {
        return OnSubmit.InvokeAsync(null);
    }
}